<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Name</label>
  <div class="col-sm-6">
    <input type="text" ng-model="facility.name" class="form-control" id="name" placeholder="Name of the facility"/>
  </div>
</div>
<div class="form-group">
  <label for="address" class="col-sm-2 control-label">Address</label>
  <div class="col-sm-6">
    <input type="text" ng-model="facility.address" class="form-control" id="address" placeholder="Address for the Facility"/>
  </div>
</div>
<div class="form-group" ng-controller="MyCtrl">
  <label for="phone" class="col-sm-2 control-label">Phone-Number</label>
  <div class="col-sm-6">
    <input type="text" phone-input ng-model="facility.phoneNumber" class="form-control" id="phone" placeholder="(xxx) xxx-xxxx"/>
  </div>
</div>
<div class="form-group">
  <label for="fax" class="col-sm-2 control-label">Fax</label>
  <div class="col-sm-6">
    <input type="text" ng-model="facility.fax" class="form-control" id="fax" placeholder="Fax for the Facility"/>
  </div>
</div>
<div class="form-inline">
<div class="form-group">
  <div class="col-sm-offset-12 col-sm-10">
    <input type="submit" class="btn btn-success btn-lg" value="Save"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-12 col-sm-10">
    <button class="btn btn-danger btn-lg" ng-click="stateRefresh()" ng-show="isShow()">Clear</button>
  </div>
</div>
</div>