<a ui-sref="newFacility" class="btn-success btn-lg nodecoration">Add New Facility</a>
<br/>
<br/>

<h3><span style="color: white">All Facilities</span></h3>
<table class="table usertable">
  
  <tr><td><b>Name</b></td>
    <td><b>Phone-Number</b></td>
    <td><b>Address</b></td>
    <td><b>Fax</b></td>
  </tr>
  <tr ng-repeat="facility in facilities">
    <td>{{facility.name}}</td>
    <td>{{facility.phoneNumber}}</td>
    <td>{{facility.address}}</td>
    <td>{{facility.fax}}</td>
    <td>
      <a class="btn btn-success" ui-sref="viewFacility({id:facility.id})">View</a>
      <a class="btn btn-danger"  ng-click="deleteFacility(facility)">Delete</a>
    </td>
  </tr>
</table>