body {
  background: #e2e1e0;
  text-align: center;
  margin: 0px;
}
 
.container-fluid{
 margin: 0px;
 width: 100%;
}

tr.selected td.md-cell{
	color : red;
}

.selectedlicense{
	background-color : green;
}
.div-login {
	padding-top: 100px;
}
.login-button {
	margin-left: 1%;
	margin-right: 1%;
}

.login-main-div {
	margin-top : 10%;
	margin-left: 25%;
	margin-right: 25%;
}

.home-div {
	margin-top: -9px;
}

md-checkbox.ng-scope.md-checked{
	color: #0000FF;
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }
    
    
    .checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }


.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }
    