body {
  background: #e2e1e0;
  text-align: center;
  margin: 0px;
}
.main-container {
	margin-top: 0px; 
}

.div-login {
	padding-top: 100px;
}
.login-button {
	margin-left: 1%;
	margin-right: 1%;
}

.login-main-div {
	margin-top : 0px;
	margin-left: 25%;
	margin-right: 25%;
}

.home-div {
	margin-top: -9px;
}

md-checkbox.ng-scope.md-checked{
	color: #0000FF;
}