<div class="md-padding" style="margin-left: 30%;margin-right: 30%" ng-controller="UserActivationController as vm">
	<md-card class="md-padding">
		<md-card-title>
          <md-card-title-text>
            <span class="md-headline">Account activation</span>
          </md-card-title-text>
        </md-card-title>
		<md-content class="md-no-momentum"> 
			<form name="accountActivationForm" ng-submit="vm.activate()">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Password</label> 
					<input md-maxlength="20" md-minlength="8" name="password" ng-change="vm.onPasswordInput()" type="password" required ng-model="vm.profile.password" />
					<div ng-messages="userForm.password.$error">
						<div ng-message="required">Password is required.</div>
						<div ng-message="md-maxlength">The password has to be less than 20 characters long.</div>
						<div ng-message="md-minlength">The password has to be at least 8 characters long.</div>
						</div>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Confirm password</label> 
					<input md-maxlength="20" ng-minlength="8"  name="passwordConfirmation" ng-change="vm.onPasswordInput()" type="password" data-password-verify="vm.profile.password" required ng-model="vm.passwordConfirmation" />
						<div ng-show="accountActivationForm.passwordConfirmation.$error.passwordVerify">
			            <span style="color:red;">Passwords do not match</span></div>
						<div ng-messages="accountActivationForm.repassword.$error">
							<div ng-message="required">Please confirm the password</div>
							<div ng-message="md-maxlength">The password has to be less than 20 characters long.</div>
							<div ng-message="md-minlength">The password has to be at least 8 characters long.</div>
						</div>
				</md-input-container>
				<div layout="row" layout-align="end center">
					<md-button class="md-raised md-primary" type="submit" ng-disabled="vm.activateBtnDiabled">Activate</md-button>
					<md-button class="md-raised md-primary" type="reset">Clear</md-button>
				</div>
			</form>
		</md-content>
	</md-card>
</div>