<div ng-controller="UserProfileController as vm" style="text-align: left">
	 <md-card>
        <md-card-header>
          <md-card-avatar class="">
            <md-icon md-svg-src="schedulesys/img/ic_account_circle_black_24px.svg"></md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">My account</span>
            <span class="md-subhead">{{vm.currentUser.username}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
	        <div layout="row" layout-padding>
		        <div>
		          <p>
		          	<span>Email address : {{vm.currentUser.emailAddress}}</span><br/>
		          	<span>Role : {{vm.currentUser.userRole}}</span><br/>
		          	<span>Password : ********</span><span ng-show="!vm.passwordChangeUI"><a href="" ng-click="vm.showPasswordChangeUI()">(change password)</a></span>
		          </p>
		        </div>
		        <!-- Password update view -->
		        <div style="width: 500px" ng-show="vm.passwordChangeUI">
		        	<form name="passwordChangeForm" ng-submit="vm.login()">
						<md-content class="md-no-momentum"> 
							<md-input-container class="md-icon-float md-block">
								<label>Old password</label>
						 		<input ng-model="vm.credentials.oldPassword" name="oldPassword" type="password" required ng-change="vm.onPasswordInput()"> 
						 		 <div ng-messages="passwordChangeForm.oldPassword.$error">
			          				<div ng-message="required">Please provide old password</div>
			       				</div>
						 	</md-input-container>
						 	
						 	<md-input-container class="md-icon-float md-block">
								<label>Password</label>
						 		<input ng-model="vm.credentials.password" type="password" name="password" required ng-change="vm.onPasswordInput()"> 
						 		 <div ng-messages="passwordChangeForm.password.$error">
			          				<div ng-message="required">Please provide new password</div>
			       				</div>
						 	</md-input-container>
						 	<md-input-container class="md-icon-float md-block">
								<label>Confirm password</label>
						 		<input ng-model="vm.credentials.passwordConf" type="password" name="passwordConf" required data-password-verify="vm.credentials.password" ng-change="vm.onPasswordInput()"> 
						 		<div ng-show="passwordChangeForm.passwordConf.$error.passwordVerify">
			            			<span style="color:red;">Passwords do not match</span>
			           			</div>
						 		<div ng-messages="passwordChangeForm.passwordConf.$error">
			          				<div ng-message="required">Please confirm new password</div>
			       				</div>
						 	</md-input-container>
						 	
						 	<div layout="row">
						 		<span flex></span>
						 		<md-button class="md-raised md-primary" type="button" ng-click="vm.hidePasswordChangeUI()">Cancel</md-button>
						 		<md-button class="md-raised md-primary" type="submit" ng-disabled="vm.changePwdBtnDisabled" ng-click="vm.changePassword()">Change</md-button>
						 	</div>
						</md-content>
					</form>	
		        </div>
	        </div>
        </md-card-content>
     </md-card>
		
</div>