<div ng-controller="UserProfileController as vm" style="text-align: left">
	 <md-card>
        <md-card-header>
          <md-card-avatar class="">
            <md-icon md-svg-src="schedulesys/img/ic_account_circle_black_24px.svg"></md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">My account</span>
            <span class="md-subhead">{{vm.currentUser.username}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content>
	        <div layout="row" layout-padding>
		        <div>
		          <p>
		          	<span>Email address : {{vm.currentUser.emailAddress}}</span><br/>
		          	<span>Role : {{vm.currentUser.userRole}}</span><br/>
		          	<span>Password : ********</span><span ng-show="!vm.passwordChangeUI"><a href="" ng-click="vm.showPasswordChangeUI()">(change password)</a></span>
		          </p>
		          <div>
		          	<md-button class="md-raised md-primary">Edit profile</md-button>
		          	<md-button class="md-raised md-primary" ng-click="vm.showHideLogsUI()">{{vm.activityLogsUI === false ? 'View activity logs' : 'Hide activity logs'}}</md-button>
		          </div>
		        </div>
		        <!-- Password update view -->
		        <div style="width: 500px" ng-show="vm.passwordChangeUI">
		        	<form name="passwordChangeForm" ng-submit="vm.login()">
						<md-content class="md-no-momentum"> 
							<md-input-container class="md-icon-float md-block">
								<label>Old passord</label>
						 		<input ng-model="vm.credentials.oldPassword" name="oldPassword" type="password" required ng-change="vm.onPasswordInput()"> 
						 		 <div ng-messages="passwordChangeForm.oldPassword.$error">
			          				<div ng-message="required">Please provide old password</div>
			       				</div>
						 	</md-input-container>
						 	
						 	<md-input-container class="md-icon-float md-block">
								<label>Password</label>
						 		<input ng-model="vm.credentials.password" type="password" name="password" required ng-change="vm.onPasswordInput()"> 
						 		 <div ng-messages="passwordChangeForm.password.$error">
			          				<div ng-message="required">Please provide new password</div>
			       				</div>
						 	</md-input-container>
						 	<md-input-container class="md-icon-float md-block">
								<label>Confirm password</label>
						 		<input ng-model="vm.credentials.passwordConf" type="password" name="passwordConf" required data-password-verify="vm.credentials.password" ng-change="vm.onPasswordInput()"> 
						 		<div ng-show="passwordChangeForm.passwordConf.$error.passwordVerify">
			            			<span style="color:red;">Passwords do not match</span>
			           			</div>
						 		<div ng-messages="passwordChangeForm.passwordConf.$error">
			          				<div ng-message="required">Please confirm new password</div>
			       				</div>
						 	</md-input-container>
						 	
						 	<div layout="row">
						 		<span flex></span>
						 		<md-button class="md-raised md-primary" type="button" ng-click="vm.hidePasswordChangeUI()">Cancel</md-button>
						 		<md-button class="md-raised md-primary" type="submit" ng-disabled="vm.changePwdBtnDisabled" ng-click="vm.changePassword()">Change</md-button>
						 	</div>
						</md-content>
					</form>	
		        </div>
		        <!-- User activity logs view -->
		        <span flex></span>
		        <div ng-show="vm.activityLogsUI" style="text-align: center">
		        	<md-button ng-click="vm.onLeftArrowClick()" class="md-raised md-primary">
						<md-icon md-svg-src="schedulesys/img/ic_keyboard_arrow_left_white_24px.svg" class="s24" aria-label="Left arrow"></md-icon>
					</md-button>
					<span>Week: {{vm.activity.startDate}} - {{vm.activity.endDate}}</span>
						<md-button ng-click="vm.onRightArrowClick()" class="md-raised md-primary">
					<md-icon md-svg-src="schedulesys/img/ic_keyboard_arrow_right_white_24px.svg" class="s24" aria-label="Left arrow"></md-icon>
					</md-button>
		        	<md-table-container>
					  <table md-table >
					    <thead md-head md-order="vm.query.order">
					      <tr md-row>
					        <th md-column>Number of schedules created</th>
					        <th md-column>Number of schedules updated</th>
					      </tr>
					    </thead>
					    <tbody md-body>
					       <tr md-row>
					      	<td md-cell>{{vm.activity.schedulesCreated}}</td>
					      	<td md-cell>{{vm.activity.schedulesUpdated}}</td>
					      </tr>
					    </tbody>
					  </table>
					</md-table-container>
					<md-table-pagination md-limit="vm.query.limit"  md-page="vm.query.page" md-total="{{vm.allUsers.length}}"></md-table-pagination>
		        </div>
	        </div>
        </md-card-content>
     </md-card>
		
</div>