<div ng-controller="usersController as vm">
	
	<md-toolbar class="md-table-toolbar md-default">
	  <div class="md-toolbar-tools">
	    <span>Users</span>
	  </div>
	  <div layout="left left">
	  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary" ui-sref="home.users.new">Add</md-button>
      <md-button class="md-raised md-primary" ng-disabled="vm.editOrDelete" ui-sref="home.users.edit({id:vm.selected[0].id})">Edit</md-button>
      <md-button class="md-raised md-primary" ng-disabled="vm.editOrDelete" ui-sref="home.user-details({id:vm.selected[0].id})">Details</md-button>
      <md-button class="md-raised md-warn" ng-click="vm.showConfirm()" ng-disabled="vm.editOrDelete">Delete</md-button>
    </section>
	  </div>
	</md-toolbar>

	<md-table-container>
	  <table md-table md-table md-row-select ng-model="vm.selected" >
	    <thead md-head md-order="vm.query.order">
	      <tr md-row>
	        <th md-column md-order-by="name">
	        	<span>User-Name</span>
	        </th>
	        <th md-column>User-Role</th>
	      </tr>
	    </thead>
	    <tbody md-body>
	      <tr md-row md-select="user" md-select-id="name"  md-auto-select ng-repeat="user in vm.usersOnCurrentPage track by user.id">
	        <td md-cell>{{user.username}}</td>
	        <td md-cell>{{user.userRole}}</td>
	      </tr>
	    </tbody>
	  </table>
	</md-table-container>

	<md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15, 20]" md-page="vm.query.page" md-total="{{vm.allusers.length}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>

</div>
