<md-dialog aria-label="Add or edit a phone number" style="width:800px;text-align:left">
  <form name="phoneNumberForm" ng-submit="vm.createOrUpdatePhoneNumber()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add or edit a phone number</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="schedulesys/img/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" class="md-padding">
	<div layout-gt-xs="column">
		<div layout-gt-sm="column">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Number label</label> 
				<md-select ng-model="vm.phoneNumber.numberLabel" required name="numberLabel">
				  <md-option value="PRIMARY">PRIMARY</md-option>
		          <md-option value="SECONDARY">SECONDARY</md-option>
		          <md-option value="OTHER">OTHER</md-option>
	        	</md-select>
	        	<div ng-messages="phoneNumberForm.numberLabel.$error">
					<div ng-message="required">Number type is required.</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Number type</label> 
				<md-select ng-model="vm.phoneNumber.numberType" required name="numberType">
		          <md-option value="HOME">HOME</md-option>
		          <md-option value="MOBILE">MOBILE</md-option>
	        	</md-select>
	        	<div ng-messages="phoneNumberForm.numberType.$error">
					<div ng-message="required">Number type is required.</div>
				</div>
			</md-input-container>
			<md-input-container flex-gt-sm >
	      		<label>Number</label>
				<input type='text' required name="phoneNumber" phone-input ng-model="vm.phoneNumber.number" name="number"  />
				<div ng-messages="phoneNumberForm.number.$error">
					<div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
					<div ng-message="required">Phone number is required.</div>
					<div ng-message="md-maxlength">The phone number has to be less than 30 characters long.</div>
				</div>
      		</md-input-container>
		</div>
	</div>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" md-autofocus type="submit">Save</md-button>
      <md-button class="md-raised md-default" style="margin-right:20px;" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
    </md-dialog-content>
  </form>
</md-dialog>