<!DOCTYPE html>
<html>
    <head>
        <title>Schedule-sys activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear ${headers.username}
        </p>
        <p>
            Your schedule-sys account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a href="${headers.activationUrl}">Activation Link</a>
        </p>
        <p>
            <span>Regards, </span>
            <br/>
            <em>Schedule-sys.</em>
        </p>
    </body>
</html>
