<!DOCTYPE html>
<html>
    <head>
        <title>Schedule-sys password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear ${headers.username}
        </p>
        <p>
             Please click on the URL below to reset your password it:
        </p>
        <p>
            <a href="${headers.url}">Activation Link</a>
        </p>
        <p>
            <span>Regards, </span>
            <br/>
            <em>Schedule-sys.</em>
        </p>
    </body>
</html>
