<div ng-controller="FacilitySchedulingController as vm">
	<md-toolbar class="md-table-toolbar md-default" layout-padding>
		  <div layout="column" class="md-toolbar-tools">
		   <span>Scheduling page</span>
		  </div>
	</md-toolbar>
		<div style="text-align: center" layout-padding ng-show="{{vm.schedulingType == 'facility'}}">
			<span>Facility : {{vm.facility.name}}</span>
		</div>
		<div style="text-align: center" layout-padding ng-show="{{vm.schedulingType !== 'facility'}}">
			<span>Employee : {{vm.employee.firstName}} {{vm.employee.lastName}}, {{vm.employee.positionName}}</span>
		</div>
		<div>
		<md-button ng-click="vm.onLeftArrowClick()" class="md-raised md-primary">
			<md-icon md-svg-src="schedulesys/img/ic_keyboard_arrow_left_white_24px.svg" class="s24" aria-label="Left arrow"></md-icon>
		</md-button>
		<span>Week: {{vm.scheduleWeek.startDate}} - {{vm.scheduleWeek.endDate}}</span>
		<md-button ng-click="vm.onRightArrowClick()" class="md-raised md-primary">
			<md-icon md-svg-src="schedulesys/img/ic_keyboard_arrow_right_white_24px.svg" class="s24" aria-label="Left arrow"></md-icon>
		</md-button>
		</div>
		<div layout="left" layout-paffing ng-show="{{vm.schedulingType == 'facility'}}">
			<md-button class="md-primary md-raised" ui-sref="home.facilities-scheduling.add">
				ADD
			</md-button>
			<md-button class="md-primary md-raised" ui-sref="home.facilities-scheduling.edit({scheduleId:vm.selected[0].id})" ng-disabled="vm.editOrDelete">
				EDIT
			</md-button>
			<md-button class="md-warn md-raised" ng-click="vm.showConfirm()" ng-disabled="vm.editOrDelete">
				DELETE
			</md-button>
		</div>
	<md-table-container>
		 <table md-table md-table md-row-select ng-model="vm.selected" >
		    <thead md-head md-order="vm.query.order">
		      <tr md-row>
		        <th md-column md-order-by="name">
		        	<span>Date</span>
		        </th>
		        <th md-column>Shift</th>
		        <th md-column ng-show="{{vm.schedulingType !== 'facility'}}">Facility</th>
		        <th md-column>Time</th>
		        <th md-column ng-show="{{vm.schedulingType == 'facility'}}">Job</th>
		        <th md-column ng-show="{{vm.schedulingType == 'facility'}}">Name</th>
		        <th md-column>Hours</th>
		        <th md-column ng-show="{{vm.schedulingType == 'facility'}}">OT</th>
		        <th md-column>Status</th>
		        <th md-column>Post status</th>
		        <th md-column>Time sheet received</th>
		        <th md-column>Comments</th>
		        <th md-column ng-show="{{vm.schedulingType == 'facility'}}">Filled by</th>
		        <th md-column ng-show="{{vm.schedulingType == 'facility'}}">Last modified by</th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row  md-select="schedule" md-auto-select ng-repeat="schedule in vm.schedulesOnCurrentPage track by schedule.id" >
		      	<td md-cell>{{schedule.scheduleDate}}</td>
		      	<td md-cell>{{schedule.shift.name}}</td>
		      	<td md-cell ng-show="{{vm.schedulingType !== 'facility'}}">{{schedule.facility.name}}</td>
		      	<td md-cell>{{schedule.shift.startTime}} {{schedule.shift.endTime}}</td>
		      	<td md-cell ng-show="{{vm.schedulingType == 'facility'}}">{{schedule.job.name}}</td>
		        <td md-cell ng-show="{{vm.schedulingType == 'facility'}}">{{schedule.employee.firstName}} {{schedule.employee.lastName}}</td>
		      	<td md-cell>{{schedule.hours}}</td>
		      	<td md-cell ng-show="{{vm.schedulingType == 'facility'}}">{{schedule.overtime}}</td>
		      	<td md-cell>{{schedule.scheduleStatus.status}}</td>
		      	<td md-cell>{{schedule.schedulePostStatus.status}}</td>
		      	<td md-cell>{{schedule.timesheetReceived ? 'YES' : 'NO'}}</td>
		        <td md-cell>{{schedule.scheduleComment}}</td>
		        <td md-cell ng-show="{{vm.schedulingType == 'facility'}}">{{schedule.filledBy.username}}</td>
		        <td md-cell ng-show="{{vm.schedulingType == 'facility'}}">{{schedule.lastModifiedBy.username}}</td>
		      </tr>
		    </tbody>
		  </table>
	</md-table-container>
	<md-table-pagination md-limit="vm.query.limit" md-limit-options="[10, 20, 30]" md-page="vm.query.page" md-total="{{vm.allSchedules.length}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
</div>