<md-dialog  style="width:600px;" ng-controller="PrivateCareDialogController as vm">
  <form name="privateCareForm" ng-submit="vm.createOrUpdate()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create or edit a private care</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="schedulesys/img/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" class="md-padding">
	<div layout-gt-sm="column">
		<md-input-container class="md-block" flex-gt-sm>
			<label>Name</label> <input md-maxlength="50" required name="name" ng-model="vm.privateCare.name" />
			<div ng-messages="privateCareForm.name.$error">
				<div ng-message="required">Name is required.</div>
				<div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Address</label> <input md-maxlength="50" required name="address" ng-model="vm.privateCare.address" />
			<div ng-messages="privateCareForm.address.$error">
				<div ng-message="required">Address is required.</div>
				<div ng-message="md-maxlength">The address has to be less than 50 characters long.</div>
			</div>
		</md-input-container>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Phone number</label> 
				<input type='text' required name="phoneNumber" phone-input ng-model="vm.privateCare.phoneNumber"/>
				<div ng-messages="privateCareForm.phoneNumber.$error">
					<div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
					<div ng-message="required">Phone number is required.</div>
					<div ng-message="md-maxlength">The phone number has to be less than 30 characters long.</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Fax</label>
				<input type='text' required name="fax" phone-input ng-model="vm.privateCare.fax"/>
				<div ng-messages="privateCareForm.fax.$error">
				<div ng-message="pattern">(###)-###-#### - Please enter a valid phone number.</div>
					<div ng-message="required">Fax is required.</div>
					<div ng-message="md-maxlength">The fax number has to be less than 30 characters long.</div>
				</div>
			</md-input-container>
		</div>
	</div>
	
	</md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" md-autofocus type="submit">Save</md-button>
      <md-button class="md-raised md-default" style="margin-right:20px;" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>