<md-dialog aria-label="Create or edit a schedule"  style="width:1000px;text-align: center;" ng-controller="FacilitySchedulingDialogController as vm">
  <form name="facilityForm" ng-submit="vm.createOrUpdateSchedule()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create or edit a schedule</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="schedulesys/img/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  <md-dialog-content class="md-padding" layout="column">
   		<div layout-gt-xs="row">
	   		<md-autocomplete class="md-block" flex-gt-xs md-no-cache="ctrl.noCache" md-selected-item="vm.selectedItem" md-search-text-change="vm.searchTextChange(vm.searchText)"
	          md-search-text="vm.searchText"
	          md-selected-item-change="vm.selectedItemChange(employee)"
	          md-items="employee in vm.querySearch(vm.searchText)"
	          md-item-text="employee.employeeName"
	          md-input-minlength="2"
	          md-floating-label="Employee name">
		        <md-item-template flex-gt-sm>
		          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{employee.employeeName}}</span>
		        </md-item-template>
	        	<md-not-found>No employee matching "{{vm.searchText}}" were found.</md-not-found>
	        </md-autocomplete>
	        <div class="md-padding">
	  			<md-datepicker ng-model="vm.schedule.scheduleDate" md-placeholder="Schedule date" ></md-datepicker>
	        </div>
  		</div>
     <div layout-gt-sm="row">
      <md-input-container flex-gt-sm >
      	<label>Shift</label>
			<md-select ng-model="vm.schedule.shiftId" required>
	          <md-option ng-repeat="shift in vm.shifts" value="{{shift.id}}">{{shift.name}}</md-option>
        	</md-select>
      </md-input-container>
       <md-input-container flex-gt-sm>
      	<label>Status</label>
			<md-select ng-model="vm.schedule.scheduleStatusId" required>
	          <md-option ng-repeat="status in vm.statuses" value="{{status.id}}">{{status.status}}</md-option>
        	</md-select>
      </md-input-container>
      <md-input-container flex-gt-sm>
      	<label>Post status</label>
			<md-select ng-model="vm.schedule.schedulePostStatusId" required>
	          <md-option ng-repeat="postStatus in vm.postStatuses" value="{{postStatus.id}}">{{postStatus.status}}</md-option>
        	</md-select>
      </md-input-container>
      </div>
      <md-switch class="md-primary" md-no-ink aria-label="timesheet received"  ng-show="vm.isEditing" ng-model="vm.schedule.timesheetReceived">
    		Timesheet received ({{vm.schedule.timesheetReceived ? 'YES' : 'NO'}})
  		</md-switch>
      <div layout-gt-sm="row"  ng-show="vm.isEditing">
  		 <md-input-container flex-gt-sm>
      		<label>Hours</label>
            <input type="number" ng-model="vm.schedule.hours">
      </md-input-container>
  		 <md-input-container flex-gt-sm>
      	<label>Overtime</label>
		 <input type="number" ng-model="vm.schedule.overtime">
      </md-input-container>
      </div>
      <md-input-container>
      	<label>Comment</label>
			<textarea ng-model="vm.schedule.comment" md-maxlength="150" rows="5" md-select-on-focus></textarea>
			<div ng-messages="facilityForm.name.$error">
				<div ng-message="required">Name is required.</div>
				<div ng-message="md-maxlength">The name has to be less than 150 characters long.</div>
			</div>
      </md-input-container>
  </md-dialog-content>
  <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" md-autofocus type="submit">Save</md-button>
      <md-button class="md-raised md-default" style="margin-right:20px;" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
 </form>
</md-dialog>