<md-dialog aria-label="Create or update a License" style="width:800px;" ng-controller="LicenseDialogController as vm">
  <form name="licenseForm" ng-submit="vm.createOrUpdateLicense()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create or edit a License</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="schedulesys/img/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" class="md-padding">
	<div layout-gt-xs="row">
		<md-input-container class="md-block" flex-gt-sm>
			<label>License #</label> <input md-maxlength="100" required name="number"  ng-model="vm.license.number" />
			<div ng-messages="licenseForm.number.$error">
				<div ng-message="required">License Number is required.</div>
				<div ng-message="md-maxlength">The License Number has to be less than 100 digits long.</div>
			</div>
		</md-input-container>
		<div class="md-padding">
			<md-datepicker type="date" ng-model="vm.license.expirationDate" name="expirationDate"
					md-placeholder="Expiration date" required></md-datepicker>
		</div>
	</div>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" md-autofocus type="submit">Save</md-button>
      <md-button class="md-raised md-default" style="margin-right:20px;" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
    </md-dialog-content>
  </form>
</md-dialog>