<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ScheduleSys password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear <label th:text="|${user.firstName} ${user.lastName}|"></label>
        </p>
        <p>
            For your ScheduleSys account a password reset was requested, please click on the URL below to reset it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/account;key=${user.resetKey};action=reset|}">Reset Link</a>
        </p>
        <p>
            <span>Regards, </span>
            <br/>
            <em>ScheduleSys.</em>
        </p>
    </body>
</html>
