<!DOCTYPE configuration>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%level \(%C:%L\) %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name = "org.springframework" level="WARN"/>
	<logger name = "org.hibernate" level = "WARN"/>
	<logger name = "org.dozer" level = "ERROR"/>
	
	<root level="INFO" >
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
