<div aria-label="Create or update a nurse" style="text-align: left;"
	ng-controller="NurseDialogController as vm">
	<form name="nurseForm" ng-submit="vm.createOrUpdatenurse()">

		<div style="max-width: 1000px; max-height: 810px;" class="md-padding">
			<div layout-gt-sm="column">
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>First name</label>
						<input md-maxlength="50" required name="firstName" ng-model="vm.nurse.firstName" />
						<div ng-messages="nurseForm.firstName.$error">
							<div ng-message="required">First Name is required.</div>
							<div ng-message="md-maxlength">The First-Name has to be less than 50 characters long.</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Last name</label>
						<input md-maxlength="50" required name="lastName" ng-model="vm.nurse.lastName" />
						<div ng-messages="nurseForm.lastName.$error">
							<div ng-message="required">Last Name is required.</div>
							<div ng-message="md-maxlength">The Last-Name has to be less than 50 characters long.</div>
						</div>
					</md-input-container>
				</div>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Position name</label>
					<md-select ng-model="vm.nurse.positionName">
						<md-option ng-repeat="position in vm.positions" value="{{position.name}}">{{position.name}}</md-option>
					</md-select>
				<div ng-messages="nurseForm.positionName.$error">
					<div ng-message="required">Position name is required.</div>
					<div ng-message="md-maxlength">The position name has to be less than 100 characters long.</div>
				</div>
				</md-input-container>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
					<div layout="column" layout-gt-sm="row">
						<div flex-xs="" flex="50">
							<md-checkbox ng-model="vm.nurse.ebc" name="ebc" aria-label="EBC" class="md-primary">EBC</md-checkbox>
						</div>
					</div>
					<div ng-messages="nurseForm.ebc.$error">
						<div ng-message="required">EBC is required.</div>
					</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
					<div layout="column" layout-gt-sm="row">
						<div flex-xs="" flex="50">
							<md-checkbox ng-model="vm.nurse.insvc" name="insvc" aria-label="In service" class="md-primary"> In service </md-checkbox>
						</div>
					</div>
					<div ng-messages="nurseForm.insvc.$error">
						<div ng-message="required">In service is required.</div>
					</div>
					</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
					<label>Primary phone number</label>
						<input type='text' required name="primaryPhoneNumber" phone-input ng-model="vm.primaryPhoneNumber.number" />
					<div ng-messages="nurseForm.primaryPhoneNumber.$error">
						<div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
						<div ng-message="required">Phone number is required.</div>
						<div ng-message="md-maxlength">The phone number has to be less than 30 characters long.</div>
					</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
					<label>Type</label> 
					<md-select ng-model="vm.primaryPhoneNumber.numberType">
						<md-option ng-repeat="numberLabel in vm.phoneNumberTypes" name="primaryPhoneNumberType" value="{{numberLabel.name}}">{{numberLabel.name}}</md-option> 
					</md-select>
					<div ng-messages="nurseForm.primaryPhoneNumberType.$error">
						<div ng-message="required">Phone number Type is required.</div>
					</div>
					</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
					<label>Secondary phone number</label>
					<input type='text' name="secondaryPhoneNumber" phone-input ng-model="vm.secondaryPhoneNumber.number" />
					<div ng-messages="nurseForm.secondaryPhoneNumber.$error">
						<div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
						<div ng-message="md-maxlength">The phone number has to be less than 30 characters long.</div>
					</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
					<label>Type</label>
						<md-select ng-model="vm.secondaryPhoneNumber.numberType">
							<md-option ng-repeat="numberLabel in vm.phoneNumberTypes" name="secondaryPhoneNumberType" value="{{numberLabel.name}}">{{numberLabel.name}}</md-option>
						</md-select>
					<div ng-messages="nurseForm.secondaryPhoneNumberType.$error"></div>
					</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
					<label>Other phone number</label>
					<input type='text' name="otherPhoneNumber" phone-input ng-model="vm.otherPhoneNumber.number" />
					<div ng-messages="nurseForm.otherPhoneNumber.$error">
						<div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
						<div ng-message="md-maxlength">The phone number has to be less than 30 characters long.</div>
					</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
					<label>Type</label>
					<md-select ng-model="vm.otherPhoneNumber.numberType">
						<md-option ng-repeat="numberLabel in vm.phoneNumberTypes" name="otherPhoneNumberType" value="{{numberLabel.name}}">{{numberLabel.name}}</md-option>
					</md-select>
					<div ng-messages="nurseForm.otherPhoneNumberType.$error"></div>
					</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<div class="md-block" flex-gt-sm style="align-items: left" ng-cloak="" class="datepickerdemoBasicUsage">
						<md-datepicker type="date" ng-model="vm.nurse.dateOfHire" name="dateOfHire" md-placeholder="Date of hire"> </md-datepicker>
						<div ng-messages="nurseForm.dateOfHire.$error">
							<div ng-message="required">Date Of Hire is required.</div>
						</div>
					</div>
					<div class="md-block" flex-gt-sm style="align-items: left" ng-cloak="" class="datepickerdemoBasicUsage">
						<md-datepicker type="date" ng-model="vm.nurse.rehireDate" name="rehireDate" md-placeholder="Rehire date"></md-datepicker>
						<div ng-messages="nurseForm.rehireDate.$error">
							<div ng-message="required">Rehire Date is required.</div>
						</div>
					</div>
					<div class="md-block" flex-gt-sm style="align-items: left" ng-cloak="" class="datepickerdemoBasicUsage">
						<md-datepicker type="date" ng-model="vm.nurse.lastDayOfWork" name="lastDayOfWork" md-placeholder="Last day of work"></md-datepicker>
						<div ng-messages="nurseForm.lastDayOfWork.$error">
							<div ng-message="required">Last Day of Work is required.</div>
						</div>
					</div>
				</div>
				<md-input-container class="md-block" flex-gt-sm>
				<label>Comment</label>
					<input md-maxlength="200" name="comment" ng-model="vm.nurse.comment" />
				<div ng-messages="nurseForm.comment.$error">
					<div ng-message="md-maxlength">The comment has to be less than 200 characters</div>
				</div>
				</md-input-container>
			</div>
		</div>
		<div layout="row">
			<md-button class="md-raised md-primary" md-autofocus type="submit">Save</md-button>
			<md-button class="md-raised md-default" style="margin-right:20px;" type="reset">Clear</md-button>
		</div>
	</form>
</div>