<div ng-controller="NurseDetailsController as vm">
	<md-toolbar class="md-table-toolbar md-default" layout-padding>
		  <div layout="column" class="md-toolbar-tools">
		   <span>Nurse {{vm.nurse.firstName}} {{vm.nurse.lastName}}'s profile</span>
		  </div>
	</md-toolbar>
		<div style="text-align: left" layout-padding layout-align="left start">
			<span> Position : {{vm.nurse.positionName}}</span><br>
			<span> EBC : {{vm.nurse.ebc ? 'YES' : 'NO'}}</span><br>
			<span> In-Service : {{vm.nurse.insvc ? 'YES' : 'NO'}}</span><br>
			<span> Date of hire : {{vm.nurse.dateOfHire}}</span><br>
			<span> Rehire date : {{vm.nurse.rehireDate}}</span><br>
			<span> Last day of work : {{vm.nurse.lastDayOfWork}}</span><br>
			<span> Comment : {{vm.nurse.comment}}</span>
		</div>
		<section layout="left" layout-align="left start" >
      		<md-button class="md-raised md-primary" ui-sref="home.nurses-scheduling({id:vm.nurse.id})">Facility-Schedules</md-button>
      		<md-button class="md-raised md-primary" ui-sref="home.nurses-pc-scheduling({id:vm.nurse.id})">Private care-Schedules</md-button>
    	</section>
    	
    	<div style="text-align: center" layout-padding>
			<h4><span>Phone numbers ({{vm.nurse.phoneNumbers.length}})</span></h4>
		</div>
		<section layout="row" layout-sm="column" layout-align="left left" layout-wrap>
			<md-button class="md-raised md-primary" ui-sref="home.nurse-details.add-number({id:vm.nurse.id})" ng-disabled="vm.nurse.phoneNumbers.length == 3">Add</md-button>
      		<md-button class="md-raised md-primary" ui-sref="home.nurse-details.edit-number({id:vm.nurse.id, phoneNumberId:vm.selectedPhoneNumber[0].id})" ng-disabled="vm.enablePhoneNumberEdit">Edit</md-button>
      		<md-button class="md-raised md-warn" ng-click="vm.showPhoneNumberDelConfirm()" ng-disabled="vm.enablePhoneNumberDel">Delete</md-button>
      </section>
      
      	<md-table-container>
		 <table md-table md-table md-row-select ng-model="vm.selectedPhoneNumber" >
		    <thead md-head md-order="">
		      <tr md-row>
		        <th md-column md-order-by="name">
		        	<span>Number Label</span>
		        </th>
		        <th md-column>Number type</th>
		        <th md-column>Number</th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row md-select="phoneNumber" md-select-id="name"  md-auto-select ng-repeat="phoneNumber in vm.nurse.phoneNumbers">
		        <td md-cell>{{phoneNumber.numberLabel}}</td>
		        <td md-cell>{{phoneNumber.numberType}}</td>
		        <td md-cell>{{phoneNumber.number | tel}}</td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
		<md-table-pagination md-limit="3" md-limit-options="[3]" md-page="1"  md-total="{{vm.nurse.phoneNumbers.length}}" md-page-select></md-table-pagination>
		
		<div style="text-align: center" layout-padding>
			<h4><span>Tests ({{vm.allTests.length}})</span></h4>
		</div>
		<section layout="row" layout-sm="column" layout-align="left left" layout-wrap>
			<md-button class="md-raised md-primary" ui-sref="home.nurse-details.add-test({id:vm.nurse.id})">Add</md-button>
      		<md-button class="md-raised md-warn" ng-click="vm.showTestDelConfirm()" ng-disabled="vm.enableTestDel">Delete</md-button>
      </section>
      
		<md-table-container>
		 <table md-table md-table md-row-select ng-model="vm.selectedTest" >
		    <thead md-head md-order="vm.testQuery.order">
		      <tr md-row>
		        <th md-column md-order-by="name">
		        	<span>Test name</span>
		        </th>
		        <th md-column>Sub category name</th>
		        <th md-column>Complete date</th>
		        <th md-column>Expiration date</th>
		        <th md-column>Status</th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row md-select="nurseTest" md-select-id="name"  md-auto-select ng-repeat="nurseTest in vm.testsOnCurrentPage">
		        <td md-cell>{{nurseTest.test.name}}</td>
		        <td md-cell>{{nurseTest.testSubCategory === null ? 'NONE' : nurseTest.testSubCategory.name}}</td>
		        <td md-cell>{{nurseTest.completedDate === null ? 'NONE' : nurseTest.completedDate}}</td>
		        <td md-cell>{{nurseTest.expirationDate === null ? 'NONE' : nurseTest.expirationDate}}</td>
		        <td md-cell>{{nurseTest.status}}</td>
		      </tr>
		    </tbody>
		  </table>
	</md-table-container>
	<md-table-pagination md-limit="vm.testQuery.limit" md-limit-options="[5, 10, 15, 20]" md-page="vm.testQuery.page" md-total="{{vm.allTests.length}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
		
		<div style="text-align: center" layout-padding>
			<h4><span>Licenses ({{vm.allLicenses.length}})</span></h4>
		</div>
		<section layout="row" layout-sm="column" layout-align="left left" layout-wrap>
			<md-button class="md-raised md-primary" ui-sref="home.nurse-details.add-license({id:vm.nurse.id})">Add</md-button>
			<md-button class="md-raised md-primary" ng-disabled="vm.editOrDelete" ui-sref="home.nurse-details.edit-license({id:vm.selectedLicense[0].nurse.id, licenseId:vm.selectedLicense[0].id})">Edit</md-button>
      		<md-button class="md-raised md-warn" ng-click="vm.showLicenseDelConfirm()" ng-disabled="vm.editOrDelete">Delete</md-button>
      </section>
	<md-table-container>
		 <table md-table md-table md-row-select ng-model="vm.selectedLicense" >
		    <thead md-head md-order="vm.licenseQuery.order">
		      <tr md-row>
		        <th md-column md-order-by="name">
		        	<span>Type</span>
		        </th>
		        <th md-column>Number</th>
		        <th md-column>Expiration date</th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row md-select="license" md-select-id="name"  md-auto-select ng-repeat="license in vm.licensesOnCurrentPage track by license.id">
		        <td md-cell>{{license.licenseType.typeName}}</td>
		        <td md-cell>{{license.number}}</td>
		        <td md-cell>{{license.expirationDate}}</td>
		      </tr>
		    </tbody>
		  </table>
	</md-table-container>
	<md-table-pagination md-limit="vm.licenseQuery.limit" md-limit-options="[5, 10, 15, 20]" md-page="vm.licenseQuery.page" md-total="{{vm.allLicenses.length}}" md-on-paginate="vm.onLicenseTablePaginate" md-page-select></md-table-pagination>
</div>