<div ng-controller="NurseDetailsController as vm">
	<md-toolbar class="md-table-toolbar md-default" layout-padding>
		  <div layout="column" class="md-toolbar-tools">
		   <span>Nurse {{vm.nurse.firstName}} {{vm.nurse.lastName}}'s profile</span>
		  </div>
	</md-toolbar>
		<div style="text-align: left" layout-padding layout-align="left start">
			<span> Position : {{vm.nurse.positionName}}</span><br>
			<span> EBC : {{vm.nurse.ebc ? 'YES' : 'NO'}}</span><br>
			<span> CPR : {{vm.nurse.cpr ? 'YES' : 'NO'}}</span><br>
			<span> Date of hire : {{vm.nurse.dateOfHire}}</span><br>
			<span> Rehire date : {{vm.nurse.rehireDate}}</span><br>
			<span> Last day of work : {{vm.nurse.lastDayOfWork}}</span><br>
			<span> Primary phone # : {{vm.nurse.phoneNumbers[0].number}}</span><br> 
		    <span> Primary phone type : {{vm.nurse.phoneNumbers[0].numberType}}</span><br> 
			<span> Comment : {{vm.nurse.comment}}</span>
		</div>
		<section layout="left" layout-align="left start" >
      		<md-button class="md-raised md-primary" ui-sref="home.nurses-scheduling({id:vm.nurse.id})">Schedules</md-button>
    	</section>
		<div style="text-align: center" layout-padding>
			<span><h4>Licenses ({{vm.allLicenses.length}})</h4></span>
		</div>
		<section layout="row" layout-sm="column" layout-align="left left" layout-wrap>
		<md-button class="md-raised md-primary" ui-sref="home.nurse-details.add-license({id:vm.nurse.id})">Add</md-button>
		<md-button class="md-raised md-primary" ng-disabled="vm.editOrDelete" ui-sref="home.nurse-details.edit-license({id:vm.selected[0].nurseId, licenseId:vm.selected[0].id})">Edit</md-button>
      <md-button class="md-raised md-warn" ng-click="vm.showConfirm()" ng-disabled="vm.editOrDelete">Delete</md-button>
      </section>
	<md-table-container>
		 <table md-table md-table md-row-select ng-model="vm.selected" >
		    <thead md-head md-order="vm.query.order">
		      <tr md-row>
		        <th md-column md-order-by="name">
		        	<span>License number</span>
		        </th>
		        <th md-column>Expiration-Date</th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row md-select="license" md-select-id="name"  md-auto-select ng-repeat="license in vm.licensesOnCurrentPage track by license.id">
		        <td md-cell>{{license.number}}</td>
		        <td md-cell>{{license.expirationDate}}</td>
		      </tr>
		    </tbody>
		  </table>
	</md-table-container>
	<md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15, 20]" md-page="vm.query.page" md-total="{{vm.allLicenses.length}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
</div>