<md-dialog aria-label="Create or update a nurse" style="width:800px;" ng-controller="NurseDialogController as vm">
  <form name="nurseForm" ng-submit="vm.createOrUpdatenurse()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create or edit a Nurse</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="schedulesys/img/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" class="md-padding">
	<div layout-gt-sm="column">
	<div class="md-block" flex-gt-sm  style="padding: 40px;align-items:left" ng-cloak="" class="datepickerdemoBasicUsage">
			 <md-content>
Date of Hire  
  
    <md-datepicker ng-model="vm.nurse.dateOfHire" name="dateOfHire" md-placeholder="Enter date"></md-datepicker>

   
  </md-content>
			<div ng-messages="nurseForm.dateOfHire.$error">
				<div ng-message="required">Date Of Hire is required.</div>
				
			</div>
		</div>
		<div class="md-block" flex-gt-sm  style="padding: 40px;align-items:left" ng-cloak="" class="datepickerdemoBasicUsage">
			 <md-content>
Rehire Date  
  
    <md-datepicker ng-model="vm.nurse.rehireDate" name="rehireDate" md-placeholder="Enter date"></md-datepicker>

   
  </md-content>
			<div ng-messages="nurseForm.rehireDate.$error">
				<div ng-message="required">Rehire Date is required.</div>
				
			</div>
		</div>
		<div class="md-block" flex-gt-sm  style="padding: 40px;align-items:left" ng-cloak="" class="datepickerdemoBasicUsage">
			 <md-content>
Last Day of Work 
  
    <md-datepicker ng-model="vm.nurse.lastDayOfWork" name="lastDayOfWork" md-placeholder="Enter date"></md-datepicker>

   
  </md-content>
			<div ng-messages="nurseForm.lastDayOfWork.$error">
				<div ng-message="required">Last Day of Work is required.</div>
				
			</div>
		</div>
		<md-input-container class="md-block" flex-gt-sm>
			<label>First-Name</label> <input md-maxlength="50" required name="firstName" ng-model="vm.nurse.firstName" />
			<div ng-messages="nurseForm.firstName.$error">
				<div ng-message="required">First Name is required.</div>
				<div ng-message="md-maxlength">The First-Name has to be less than 50 characters long.</div>
			</div>
		</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
			<label>Last-Name</label> <input md-maxlength="50" required name="lastName" ng-model="vm.nurse.lastName" />
			<div ng-messages="nurseForm.lastName.$error">
				<div ng-message="required">Last Name is required.</div>
				<div ng-message="md-maxlength">The Last-Name has to be less than 50 characters long.</div>
			</div>
		</md-input-container>	
		<md-input-container class="md-block" flex-gt-sm>
			<label>Position-Name</label> <md-select ng-model="vm.nurse.positionName">
          <md-option ng-repeat="options in vm.options2" value="{{options.name}}">{{options.name}}</md-option>
        </md-select>
			<div ng-messages="nurseForm.positionName.$error">
				<div ng-message="required">Position-Name is required.</div>
				<div ng-message="md-maxlength">The position name has to be less than 100 characters long.</div>
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
		<div layout="column" layout-gt-sm="row">
	        <div flex-xs="" flex="50">
	          <md-checkbox ng-model="vm.nurse.ebc" name="ebc" aria-label="Checkbox 1">
	          	EBC
	          </md-checkbox>
	        </div>
      </div>
			<div ng-messages="nurseForm.ebc.$error">
				<div ng-message="required">EBC is required.</div>
				
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
		<div layout="column" layout-gt-sm="row">
	        <div flex-xs="" flex="50">
	          <md-checkbox ng-model="vm.nurse.cpr" name="cpr" aria-label="Checkbox 1">
	          	CPR
	          </md-checkbox>
	        </div>
      </div>
			<div ng-messages="nurseForm.cpr.$error">
				<div ng-message="required">CPR is required.</div>
				
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Phone-Number#1</label>
              <input md-maxlength="10" md-minlength="10"  required name="PhoneNumber1" phone-input ng-model="vm.nurse.phoneNumbers[0].number" />			
			 
			<div ng-messages="nurseForm.PhoneNumber1.$error">
				<div ng-message="required">Phone Number is required.</div>
				<div ng-message="md-maxlength">The Phone Number has to be 10 characters long.</div>
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Phone-Number-Label</label> <md-select ng-model="vm.nurse.phoneNumbers[0].numberLabel">
          <md-option ng-repeat="options in vm.options4" name="PhoneLabel1" value="{{options.name}}">{{options.name}}</md-option>
        </md-select>
			<div ng-messages="nurseForm.PhoneLabel1.$error">
				<div ng-message="required">Phone Label is required.</div>
				
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Phone-Number-Type </label> <md-select ng-model="vm.nurse.phoneNumbers[0].numberType">
          <md-option ng-repeat="options in vm.options3" name="PhoneType1" value="{{options.name}}">{{options.name}}</md-option>
        </md-select>
			<div ng-messages="nurseForm.PhoneType1.$error">
				<div ng-message="required">Phone Type is required.</div>
				
			</div>
			
		</md-input-container>
		<div ng-show="vm.displayPhone">
			<md-input-container class="md-block" flex-gt-sm>
			<label>Phone-Number#2</label> 
			<input md-maxlength="10" md-minlength="10"   name="PhoneNumber2" phone-input ng-model="vm.nurse.phoneNumbers[1].number" />			
			<div ng-messages="nurseForm.PhoneNumber2.$error">
				
				<div ng-message="md-maxlength">The Phone Number has to be 10 characters long.</div>
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Phone-Number-Label</label> <md-select ng-model="vm.nurse.phoneNumbers[1].numberLabel">
          <md-option ng-repeat="options in vm.options4" name="PhoneLabel2" value="{{options.name}}">{{options.name}}</md-option>
        </md-select>
			<div ng-messages="nurseForm.PhoneLabel2.$error">
				
				
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Phone-Number-Type </label> <md-select ng-model="vm.nurse.phoneNumbers[1].numberType">
          <md-option ng-repeat="options in vm.options3" name="PhoneType2" value="{{options.name}}">{{options.name}}</md-option>
        </md-select>
			<div ng-messages="nurseForm.PhoneType2.$error">
				
				
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Phone-Number#3</label> 
			<input md-maxlength="10" md-minlength="10"  name="PhoneNumber3" phone-input ng-model="vm.nurse.phoneNumbers[2].number" />			
			<div ng-messages="nurseForm.PhoneNumber3.$error">
				
				<div ng-message="md-maxlength">The Phone Number has to be 10 characters long.</div>
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Phone-Number-Label</label> <md-select ng-model="vm.nurse.phoneNumbers[2].numberLabel">
          <md-option ng-repeat="options in vm.options4" name="PhoneLabel3" value="{{options.name}}">{{options.name}}</md-option>
        </md-select>
			<div ng-messages="nurseForm.PhoneLabel3.$error">
				
				
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Phone-Number-Type </label> <md-select ng-model="vm.nurse.phoneNumbers[2].numberType">
          <md-option ng-repeat="options in vm.options3" name="PhoneType3" value="{{options.name}}">{{options.name}}</md-option>
        </md-select>
			<div ng-messages="nurseForm.PhoneType3.$error">
				
				
			</div>
		</md-input-container>
	</div>
	<md-button class="md-raised md-primary" style="length:20px; align:right" ng-click="vm.showPhone()">Add-Phone-Numbers</md-button>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Comment</label> <input md-maxlength="200"  name="comment" ng-model="vm.nurse.comment" />
			<div ng-messages="nurseForm.comment.$error">
				
				<div ng-message="md-maxlength">The comment has to be less than 200 characters</div>
			</div>
		</md-input-container>
		
	</div>
	</md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" md-autofocus type="submit">Save</md-button>
      <md-button class="md-raised md-default" style="margin-right:20px;" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>