<md-dialog aria-label="Create or update a License" style="width:800px;" ng-controller="NurseTestDialogController as vm">
  <form name="licenseForm" ng-submit="vm.addOrUpdate()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add or edit a test</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="schedulesys/img/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" class="md-padding">
	<div layout-gt-xs="column">
	<md-input-container style="margin-right: 10px;">
        <label>Test name</label>
        <md-select ng-model="size">
          <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
        </md-select>
      </md-input-container>
	</div>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" md-autofocus type="submit">Save</md-button>
      <md-button class="md-raised md-default" style="margin-right:20px;" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
    </md-dialog-content>
  </form>
</md-dialog>