<div class="form-group">
  <label for="licenseNumber" class="col-sm-2 control-label">License-Number</label>
  <div class="col-sm-6">
    <input type="text" ng-model="license.licenseNumber" class="form-control" id="licenseNumber" placeholder="LicenseNumber of License"/>
  </div>
</div>
<div class="form-group">
  <label for="expirationDate" class="col-sm-2 control-label">Expiration-Date</label>
  <div class="col-sm-6">
    <input type="text" ng-model="license.expirationDate" class="form-control" id="expirationDate" placeholder="Expiration Date of License"/>
  </div>
</div>
<div class="form-inline">
<div class="form-group">
  <div class="col-sm-offset-12 col-sm-10">
    <input type="submit" class="btn btn-success btn-lg" value="Save"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-12 col-sm-10">
    <button class="btn btn-danger btn-lg" ng-click="stateRefresh()" ng-show="isShow()">Clear</button>
  </div>
</div>
</div>