

<table class="table usertable">
  <tr>
    <td><h3>Licenses</h3></td>
    <td></td>
  </tr>
  <tr><td><b>Licese-Number</b></td>
    <td><b>Expiration-Date</b></td>
     </tr>
  <tr ng-repeat="license in licenses">
    <td>{{license.licenseNumber}}</td>
    <td>{{license.expirationDate}}</td>
    
    <td>
      <a class="btn btn-success" ui-sref="viewLicense({id:license.id,userid:user.id})">View</a>
      <a class="btn btn-danger"  ng-click="deleteLicense(license)">Delete</a>
    </td>
  </tr>
</table>
<br/>
<br/>

<a ui-sref="newLicense({userid:user.id})" class="btn-success btn-lg nodecoration">Add New License</a>

