
<br/>
<br/>

<h3><span style="color: white">Schedules</span></h3>
<table class="table usertable">
  
  <tr><td><b>Job</b></td>
  <td><b>Filled-By</b></td>
<td><b>Employee-Name</b></td>
    <td><b>Schedule-Comment</b></td>
      <td><b>Schedule-Date</b></td>
        <td><b>Facility</b></td>
    
    <td><b>Shift</b></td>
    
    
    
    
  </tr>
  <tr ng-repeat="schedule in schedules" ng-class="{'selected' : nameCheck(schedule)}">
  <td>{{schedule.job}}</td>
    <td>{{schedule.filledBy}}</td>
    <td>{{schedule.employeeName}}</td>
    <td>{{schedule.scheduleComment}}</td>
    <td>{{schedule.scheduleDate}}</td>
    <td>{{schedule.facility}}</td>
    <td>{{schedule.shift}}</td>
    
    
    
    <td>
      <a class="btn btn-success" ui-sref="viewSchedule({id:schedule.id,facid:facility.id})">View-Schedule</a>
      
    </td>
  </tr>
</table>
<br/>
<br/>
<form class="form-inline" role="form">
<div class="form-group">
<button class="btn btn-success" ng-click="lastWeek(2,0,1)" ng-hide="display">Last-Week</button>
<button class="btn btn-success" ng-click="lastWeek(2,2,1)" ng-show="display">Last-Week</button>
</div>

<div class="form-group">
<button class="btn btn-success" ng-click="stateRefresh()">Present-Week</button>
</div>

<div class="form-group">
<button class="btn btn-success" ng-click="nextWeek(2,2,1)">Next-Week</button>
</div>

</form>
<br/>
<br/>
<a ui-sref="newSchedule()" class="btn-success btn-lg nodecoration">Add New Schedule</a>


   
