<tr>
    <td><h3>Details for {{schedule.employeeName}}</h3></td>
    <td></td>
  </tr>
<table class="table usertable">
  <tr>
    <td>Job</td>
    <td>{{schedule.job}}</td>
  </tr>
  <tr>
    <td>Filled-By</td>
    <td>{{schedule.filledBy}}</td>
  </tr>
  <tr>
    <td>lastModifiedBy</td>
    <td>{{schedule.lastModifiedBy}}</td>
  </tr>
  <tr>
    <td>Schedule-Comment</td>
    <td>{{schedule.scheduleComment}}</td>
  </tr>
  <tr>
    <td>Schedule-Date</td>
    <td>{{schedule.scheduleDate}}</td>
  </tr>
  <tr>
    <td>Facility</td>
    <td>{{schedule.facility}}</td>
  </tr>
  <tr>
    <td>Shift</td>
    <td>{{schedule.shift}}</td>
  </tr>
  <tr>
    <td>Schedule-Status</td>
    <td>{{schedule.scheduleStatus}}</td>
  </tr>
  <tr>
    <td>Schedule-Post-Status</td>
    <td>{{schedule.schedulePostStatus}}</td>
  </tr>
  <tr>
    <td>TimeSheet-Received</td>
    <td>{{schedule.timesheetReceived}}</td>
  </tr>
  <tr>
    <td>Hours</td>
    <td>{{schedule.lastModifiedBy}}</td>
  </tr>
  <tr>
    <td>Overtime</td>
    <td>{{schedule.overtime}}</td>
  </tr>
  <tr>
    <td>Start-Time</td>
    <td>{{schedule.time.startTime}}</td>
  </tr>
  <tr>
    <td>End-Time</td>
    <td>{{schedule.time.endTime}}</td>
  </tr>
</table>
<div>
  <a class="btn btn-success btn-lg" ui-sref="editSchedule({id:schedule.id,facid:facid})">Edit</a>
</div>