<p-dataTable #licenses_table  [value]="licenses" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10]"
	selectionMode="single" [(selection)]="selectedLicense"  dataKey="id" [emptyMessage]="'No licenses to display'">
    <p-header>Employee's licenses</p-header>
    <p-column field="licenseNumber" header="License Number"></p-column>
    <p-column field="expiryDate" header="Expiry Date">
    	<ng-template let-col let-row="rowData" pTemplate="body">
			<span>{{row[col.field] | date: 'shortDate'}}</span>
		</ng-template>
	</p-column>
    <p-column field="licenseType.name" header="Type"></p-column>
    <p-footer>
		<button pButton label="New" icon="fa fa-plus-circle" (click)="showOrHideDialog(false)" class="ui-button-success"></button>
		<button pButton label="Edit" icon="fa fa-edit" [disabled]="selectedLicense === undefined" (click)="showOrHideDialog(true)"></button>
		<button pButton label="Delete" icon="fa fa-minus-circle" (click)="deleteOne()" class="ui-button-danger" [disabled]="selectedLicense === undefined"></button>
    </p-footer>
</p-dataTable>
<p-dialog [(visible)]="displayDialog" appendTo="body" width="500" *ngIf="license !== undefined">
	<p-header [ngSwitch]="editing">
		<span *ngSwitchCase="true">Editing a License</span>
		<span *ngSwitchCase="false">Adding a License</span>
	</p-header>
	<p-messages [(value)]="dialogMsgs"></p-messages>
	<form (ngSubmit)="create()" #licenseForm="ngForm">
		<div class="ui-g">
 			<div class="ui-g-12">
   	 			<div class="ui-g-4">
   	 				<label>Number : </label>
   	 			</div>
   	 			<div class="ui-g-7">
   	 				<input #lNumber pInputText [(ngModel)]="license.licenseNumber" id="number" name="number" required>
   	 			</div>
 			</div>
 			<div class="ui-g-12">
   	 			<div class="ui-g-4">
   	 				<label>Expiry Date : </label>
   	 			</div>
   	 			<div class="ui-g-7">
   	 				<p-calendar [showIcon]="true" id="expiryDate" name="expiryDate" appendTo="body" [(ngModel)]="license.expiryDate"></p-calendar>
   	 			</div>
 			</div>
 			<div class="ui-g-12">
   	 			<div class="ui-g-4">
   	 				<label>Type : </label>
   	 			</div>
   	 			<div class="ui-g-7">
   	 				<p-dropdown name="pLicenseType" [(ngModel)]="license.licenseType.name"  [options]="licenseTypes" placeholder="Select Type"
   	 					 appendTo="body" [style]="{'width':'100%'}" required></p-dropdown>
   	 			</div>
 			</div>
 			<div class="ui-g-12">
   	 			<div class="ui-g-4">
   	 				<label>Employee Type : </label>
   	 			</div>
   	 			<div class="ui-g-7">
   	 				<p-dropdown name="pEmployeeType" [(ngModel)]="employeeType" [options]="employeeTypes"
   	 					 appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
   	 			</div>
 			</div>
		</div>
		<div class="ui divider"></div>
 		<div>
 			<button pButton label="Save" icon="fa fa-floppy-o" [disabled]="licenseForm.form.invalid" class="ui-button-success"></button>
 			<button pButton label="Cancel" type="button" (click)="showOrHideDialog(false)" icon="fa fa-close"></button>
 		</div>
	</form>
</p-dialog>