<div class="form-group">
  <label for="dateOfHire" class="col-sm-2 control-label">Date of Hire</label>
  <div class="col-sm-10">
    
   

    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="date" class="form-control" ng-model="user.dateOfHire" ng-required="true" />
              <input type="hidden" datepicker-popup="yyyy-MM-dd" ng-model="user.dateOfHire" is-open="opened" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    
</div>
  </div>
</div>
<div class="form-group">
  <label for="firstName" class="col-sm-2 control-label">First-Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="user.firstName" class="form-control" id="firstName" placeholder="First name of User"/>
  </div>
</div>
<div class="form-group">
  <label for="lastName" class="col-sm-2 control-label">Last-Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="user.lastName" class="form-control" id="lastName" placeholder="Last name of User"/>
  </div>
</div>
<div class="form-group">
  <label for="email" class="col-sm-2 control-label">Email-Address</label>
  <div class="col-sm-10">
    <input type="text" ng-model="user.emailAddress" class="form-control" id="email" placeholder="Email-Address of User"/>
  </div>
</div>
<div class="form-group" ng-controller="MyCtrl">
  <label for="phone" class="col-sm-2 control-label">Phone-Number</label>
  <div class="col-sm-10">
    <input type="text" phone-input ng-model="user.primaryPhoneNumber" class="form-control" id="phone" placeholder="(xxx) xxx-xxxx"/>
  </div>
</div>
<div ng-controller="ListDropDowns">
<div class="form-group">
  <label for="positionType" class="col-sm-2 control-label">User-Type</label>
  <div class="col-sm-10">
    <select ng-model="user.positionType" class="form-control" ng-options="option for option in options1" ng-change="getUserPosition()"/>
        </select>
          
</div>
</div>

<div class="form-group"  ng-show="user.positionType.length">
  <label for="UserPosition" class="col-sm-2 control-label">User-Position</label>
  <div class="col-sm-10">
    <select ng-model="user.position" class="form-control" ng-options="option for option in  options2"/>
        </select>
          
</div>
</div>
</div>

<div class="form-group">
  <label for="ebc" class="col-sm-2 control-label">EBC</label>
  <div class="col-sm-2">
    <input type="checkbox" ng-model="user.ebc" class="check-box" id="ebc" placeholder="EBC Indicator"/>
  </div>
</div>
<br/>
<div class="form-inline">
<div class="form-group">
  <div class="col-sm-offset-12 col-sm-10">
    <input type="submit" class="btn btn-success btn-lg" value="Save"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-12 col-sm-10">
    <button class="btn btn-danger btn-lg" ng-click="stateRefresh()">Clear</button>
  </div>
</div>
</div>