 <tr>
    <td><h3>Details for {{user.firstName}} {{user.lastName}}</h3></td>
    <td></td>
  </tr>
  
<table class="table usertable">
 
  <tr>
    <td>Date of Hire</td>
    <td>{{user.dateOfHire}}</td>
  </tr>
  <tr>
    <td>EBC</td>
    <td>{{user.ebc}}</td>
  </tr>
  <tr>
    <td>First-Name</td>
    <td>{{user.firstName}}</td>
  </tr>
  <tr>
    <td>Last-Name</td>
    <td>{{user.lastName}}</td>
  </tr>
  <tr>
    <td>Email-Address</td>
    <td>{{user.emailAddress}}</td>
  </tr>
  <tr>
    <td>Phone-Number</td>
    <td>{{user.primaryPhoneNumber}}</td>
  </tr>
  <tr>
    <td>User-Position</td>
    <td>{{user.position}}</td>
  </tr>
  <tr>
    <td>User-Type</td>
    <td>{{user.positionType}}</td>
  </tr>
</table>
<div>
  <a class="btn btn-success btn-lg" ui-sref="editUser({id:user.id})">Edit</a>
</div>
<br/>
<div ng-include="'user-app/partials/license/licenses.html'"></div>