<div ng-controller="FacilityDetailsController as vm">
	<md-toolbar class="md-table-toolbar md-default" layout-padding>
		  <div layout="column" class="md-toolbar-tools">
		   <span>Facility {{vm.facility.name}}'s profile</span>
		  </div>
	</md-toolbar>
		<div style="text-align: left" layout-padding layout-align="left start">
			<span>Address : {{vm.facility.address}}</span><br>
			<span>Phone number : {{vm.facility.phoneNumber}}</span><br>
			<span>Fax : {{vm.facility.fax}}</span>
		</div>
	<section layout="left" layout-align="left start" >
      <md-button class="md-raised md-primary" ui-sref="home.facilities-scheduling({id:vm.facility.id})">Schedules</md-button>
    </section>
	<div style="text-align: center" layout-padding>
		<span> <h4>Staff members ({{vm.allStaffMembers.length}})</h4></span>
	</div>
	
    <section layout="left" layout-align="left start" >
    <md-button class="md-raised md-primary" ui-sref="home.facilities-details.add-staffmembers({id:vm.facility.id})">Add</md-button>
		<md-button class="md-raised md-primary" ng-disabled="vm.editOrDelete" ui-sref="home.facilities-details.edit-staffmembers({id:vm.facility.id, staffMemberId:vm.selected[0].id})">Edit</md-button>
      <md-button class="md-raised md-warn" ng-click="vm.showConfirm()" ng-disabled="vm.editOrDelete">Delete</md-button>
	</section>
	<md-table-container>
		 <table md-table md-table md-row-select ng-model="vm.selected" >
		    <thead md-head md-order="vm.query.order">
		      <tr md-row>
		        <th md-column md-order-by="name">
		        	<span>Staff (Name)</span>
		        </th>
		        <th md-column>Title</th>
		        <th md-column>Phone #</th>
		        <th md-column>Fax #</th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row md-select="staffMember" md-select-id="name"  md-auto-select ng-repeat="staffMember in vm.staffMembersOnCurrentPage track by staffMember.id">
		        <td md-cell>{{staffMember.firstName}} {{staffMember.lastName}}</td>
		        <td md-cell>{{staffMember.title}}</td>
		        <td md-cell>{{staffMember.phoneNumber}}</td>
		        <td md-cell>{{staffMember.fax}}</td>
		      </tr>
		    </tbody>
		  </table>
	</md-table-container>
	<md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15, 20]" md-page="vm.query.page" md-total="{{vm.allStaffMembers.length}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
</div>