<div ng-controller="HomeController as vm" style="height: 100%">
	<md-card >
		<div layout="row">
			<md-sidenav class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
				<md-toolbar class="md-theme-indigo" >
					<h1 class="md-toolbar-tools">RJ SCHEDULE-SYS</h1>
				</md-toolbar>
				<md-content layout-padding md>
				</md-content> 
			</md-sidenav>
			<div style="width: 100%">
				<md-toolbar class="md-toolbar-tools"> 
					<md-button class="md-raised" aria-label="Home" ui-sref="home.facilities">Home</md-button>
					<md-button class="md-raised" aria-label="Facilities" ui-sref="home.facilities">Facilities</md-button>
					<md-button class="md-raised" aria-label="Private cares" ui-sref="home.privatecares">Private cares</md-button>
					<md-button class="md-raised" aria-label="Nurses" ui-sref="home.nurses">Nurses</md-button>
					<md-button class="md-raised" aria-label="Care givers" ui-sref="home.caregivers">Care givers</md-button>
					<md-button class="md-raised" aria-label="Tests" ui-sref="home.tests">Tests</md-button>
					<md-button class="md-raised" aria-label="Tests" ui-sref="home.users" ng-show="vm.showUsersMenu">Users</md-button>
					<span flex></span>
					<md-menu md-offset="100 80">
						<md-button class="md-fab md-raised" aria-label="Logout" ng-click="vm.openUserMenu($mdOpenMenu, $event)">
							 <md-icon md-svg-src="schedulesys/img/ic_account_circle_black_24px.svg"></md-icon>
						</md-button>
						<md-menu-content width="4">
							<md-menu-item>
								<md-button ui-sref="home.user-profile">
									<md-icon  md-menu-align-target></md-icon> 
									My account ({{vm.currentUser}})
								</md-button>
							</md-menu-item>
							<md-menu-divider></md-menu-divider>
							<md-menu-item>
								<md-button ng-click="vm.logout()" ui-sref="login">
									<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon> 
									Sign out 
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
<!-- 				<div class="container"> -->
<!-- 					<div class="navbar-header"> -->
<!-- 						<button type="button" class="navbar-toggle" data-toggle="collapse" -->
<!-- 							data-target=".navbar-collapse"> -->
<!-- 							<span class="icon-bar"></span> <span class="icon-bar"></span> <span -->
<!-- 								class="icon-bar"></span> -->
<!-- 						</button> -->
<!-- 					</div> -->
<!-- 					<div class="collapse navbar-collapse"> -->
<!-- 						<ul class="nav navbar-nav"> -->
<!-- 							<li class=""><a aria-label="home" class="hidden-xs" -->
<!-- 								ui-sref="home.facilities">Home</a> <a  -->
<!-- 								class="visible-xs" data-toggle="collapse" -->
<!-- 								data-target=".navbar-collapse.in">Home</a></li> -->

<!-- 							<li class=""><a aria-label="facilities" class="hidden-xs" -->
<!-- 								ui-sref="home.facilities">Facilities</a> <a -->
<!-- 								ui-sref="home.facilities" class="visible-xs" -->
<!-- 								data-toggle="collapse" data-target=".navbar-collapse.in">Facilities</a> -->
<!-- 							</li> -->

<!-- 							<li class=""><a aria-label="private cares" class="hidden-xs" -->
<!-- 								ui-sref="home.privatecares">Private cares</a> <a -->
<!-- 								ui-sref="home.facilities" class="visible-xs" -->
<!-- 								data-toggle="collapse" data-target=".navbar-collapse.in">Private -->
<!-- 									cares</a></li> -->

<!-- 							<li class=""><a aria-label="nurses" class="hidden-xs" -->
<!-- 								ui-sref="home.nurses">Nurses</a> <a ui-sref="home.nurses" -->
<!-- 								class="visible-xs" data-toggle="collapse" -->
<!-- 								data-target=".navbar-collapse.in">Nurses</a></li> -->

<!-- 							<li class=""><a aria-label="care givers" class="hidden-xs" -->
<!-- 								ui-sref="home.caregivers">Care givers</a> <a -->
<!-- 								ui-sref="home.caregivers" class="visible-xs" -->
<!-- 								data-toggle="collapse" data-target=".navbar-collapse.in">Care -->
<!-- 									givers</a></li> -->

<!-- 							<li class=""><a aria-label="tests" class="hidden-xs" -->
<!-- 								ui-sref="home.tests">Tests</a> <a ui-sref="home.tests" -->
<!-- 								class="visible-xs" data-toggle="collapse" -->
<!-- 								data-target=".navbar-collapse.in">Tests</a></li> -->

<!-- 							<li class="" ng-show="vm.showUsersMenu"><a -->
<!-- 								aria-label="users" class="hidden-xs" ui-sref="home.users">Users</a> -->
<!-- 								<a ui-sref="home.users" class="visible-xs" -->
<!-- 								data-toggle="collapse" data-target=".navbar-collapse.in">Users</a> -->
<!-- 							</li> -->

<!-- 							<li class=""><a aria-label="users" class="hidden-xs" -->
<!-- 								ng-click="vm.logout()" ui-sref="login">Logout</a> <a -->
<!-- 								ui-sref="login" ng-click="vm.logout()" class="visible-xs" -->
<!-- 								data-toggle="collapse" data-target=".navbar-collapse.in">Logout</a> -->
<!-- 							</li> -->
<!-- 						</ul> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</md-toolbar>
		<div ui-view></div>
		<md-toolbar></md-toolbar>
		</div>
		
	</div>
	
	</md-card>
</div>