<md-dialog aria-label="Create or update a License" style="width:800px;text-align:left" ng-controller="EmployeeTestDialogController as vm">
  <form name="testForm" ng-submit="vm.createOrUpdate()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add or edit a test</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="schedulesys/img/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" class="md-padding">
    	<div layout-gt-sm="column">
			<div layout-gt-sm="row">
				<md-input-container flex-gt-sm>
			        <label>Test name</label>
			        <md-select ng-model="vm.selectedTest" ng-change="vm.onTestSelect()" required name="testName" >
			          <md-option ng-repeat="test in vm.tests" value="{{test}}">{{test.name}}</md-option>
			        </md-select>
			        <div ng-messages="testForm.testName.$error">
						<div ng-message="required">Please select a test.</div>
					</div>
		     	</md-input-container>
		     	<md-input-container flex-gt-sm ng-show="vm.showSubcategoriesSelect">
			        <label>Category name</label>
			        <md-select ng-model="vm.selectedCategory" required name="subcategoryName" >
			          <md-option ng-repeat="subcategory in vm.subcategories" value="{{subcategory}}">{{subcategory.name}}</md-option>
			        </md-select>
			        <div ng-messages="testForm.subcategoryName.$error">
						<div ng-message="required">Please select a sub category.</div>
					</div>
		     	</md-input-container>
			</div>
			
			<div layout-gt-xs="row" layout="left start">
				<md-checkbox md-no-ink aria-label="Applicable Checkbox" ng-show="vm.notApplicableAllowed" 
					ng-model="vm.notApplicable" ng-change="vm.onNotApplicableChange()" class="md-primary">
           			Not applicable
          		</md-checkbox>
				<md-datepicker type="date" ng-show="vm.completionDateAllowed" ng-disabled="vm.notApplicable" 
					ng-model="vm.completedDate" name="completedDate" md-placeholder="Completion date" required></md-datepicker>
				<md-datepicker type="date" ng-show="vm.expirationDateAllowed" ng-disabled="vm.notApplicable" 
					ng-model="vm.expirationDate" name="expirationDate" md-placeholder="Expiration date" required></md-datepicker>
			</div>
		</div>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" md-autofocus type="submit">Save</md-button>
      <md-button class="md-raised md-default" style="margin-right:20px;" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
    </md-dialog-content>
  </form>
</md-dialog>