<div ng-controller="TestDetailsController as vm">
	<md-toolbar class="md-table-toolbar md-default" layout-padding>
		  <div layout="column" class="md-toolbar-tools">
		   <span>{{vm.test.name}} details</span>
		  </div>
	</md-toolbar>
		<div style="text-align: left" layout-padding layout-align="left start">
			<span>'Not applicable allowed' : {{vm.test.allowNotApplicable ? 'YES' : 'NO'}}</span><br>
			<span>Has completed date : {{vm.test.hasCompletedDate ? 'YES' : 'NO'}}</span><br>
			<span>Has expiration date : {{vm.test.hasExpirationDate ? 'YES' : 'NO'}}</span>
		</div>
	<div style="text-align: center" layout-padding>
		 <h4><span>Sub categories ({{vm.allSubCategories.length}})</span></h4>
	</div>
	
    <section layout="left" layout-align="left start" >
    <md-button class="md-raised md-primary" ui-sref="home.tests-details.new-sub-category({id:vm.test.id})">Add</md-button>
		<md-button class="md-raised md-primary" ng-disabled="vm.editOrDelete" ui-sref="home.tests-details.edit-sub-category({id:vm.test.id, subCategoryId:vm.selected[0].id})">Edit</md-button>
      <md-button class="md-raised md-warn" ng-click="vm.showConfirm()" ng-disabled="vm.editOrDelete">Delete</md-button>
	</section>
	<md-table-container>
		 <table md-table md-table md-row-select ng-model="vm.selected" >
		    <thead md-head md-order="vm.query.order">
		      <tr md-row>
		        <th md-column md-order-by="name">
		        	<span>Name</span>
		        </th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row md-select="subCategory" md-select-id="name"  md-auto-select ng-repeat="subCategory in vm.subCategoriesOnCurrentPage track by subCategory.id">
		        <td md-cell>{{subCategory.name}}</td>
		      </tr>
		    </tbody>
		  </table>
	</md-table-container>
	<md-table-pagination md-limit="vm.query.limit" md-limit-options="[10, 15, 20]" md-page="vm.query.page" md-total="{{vm.allSubCategories.length}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
</div>