<div class="centered-panel">
	<p-messages [(value)]="msgs"></p-messages>
	<p-panel header="Password reset request">
		<form #resetForm="ngForm" (ngSubmit)="sendResetRequest()">
			<div>
			<md-input-container class="input-full">
				<input type="email" mdInput id="email" name="email" placeholder="Email address" [(ngModel)]="email"  required>
			</md-input-container>
			</div>
			<div class="btns-panel">
				<button pButton type="submit" label="Send request" [disabled] = "!resetForm.form.valid"></button>
				<button pButton type="reset" label="Clear"></button>
				<button pButton label="Cancel" (click)="onCancelBtnClick()"></button>
			</div>
		</form>
	</p-panel>
</div>
<!-- Reset the form bnack to pristine state -->