<!DOCTYPE configuration>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%level \(%C:%L\) %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.hibernate" level="WARN"/>
	<logger name="org.springframework.jdbc" level="WARN"/>
	<logger name="org.springframework.aop" level="WARN"/>
	<logger name="org.dozer" level="WARN"/>
	
	<root level="info" >
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
