<div ng-controller="careGiversController as vm">
	
	<md-toolbar class="md-table-toolbar md-default">
	  <div class="md-toolbar-tools">
	    <span>Care givers</span>
	  </div>
	</md-toolbar>
	<div layout="left left">
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
	  		<md-button class="md-raised md-primary" ui-sref="home.caregivers-new">Add</md-button>
      		<md-button class="md-raised md-primary" ng-disabled="vm.editOrDetails" ui-sref="home.caregivers.edit({id:vm.selected[0].id})">Edit</md-button>
      		<md-button class="md-raised md-primary" ng-disabled="vm.editOrDetails" ui-sref="home.caregiver-details({id:vm.selected[0].id})">Details</md-button>
      		<md-button class="md-raised md-warn" ng-click="vm.showConfirm()" ng-disabled="vm.deletion">Delete</md-button>
    	</section>
	</div>
	<md-table-container>
	  <table md-table md-table md-row-select multiple ng-model="vm.selected" >
	    <thead md-head md-order="vm.query.order">
	      <tr md-row>
	        <th md-column md-order-by="name">
	        	<span>Last name</span>
	        </th>
	        <th md-column>First name</th>
	        <th md-column>Position name</th>
	        <th md-column>Primary phone #</th>
	        <th md-column>Phone number type</th>
	        <th md-column>Active</th>
	      </tr>
	    </thead>
	    <tbody md-body>
	      <tr md-row md-select="caregiver" md-select-id="name"  md-auto-select ng-repeat="caregiver in vm.careGiversOnCurrentPage track by caregiver.id" ng-class="{'selected' : !caregiver.isLastDayOfWork}">
	        <td md-cell>{{caregiver.lastName}}</td>
	        <td md-cell>{{caregiver.firstName}}</td>
	        <td md-cell>{{caregiver.positionName}}</td>
	        <td md-cell>{{caregiver.phoneNumbers[0].number  | tel}}</td>
	         <td md-cell>{{caregiver.phoneNumbers[0].numberType}}</td>
	         <td md-cell>{{caregiver.active ? 'YES' : 'NO'}}</td>
	      </tr>
	    </tbody>
	  </table>
	</md-table-container>

	<md-table-pagination md-limit="vm.query.limit" md-limit-options="[20, 40]" md-page="vm.query.page" md-total="{{vm.allcareGivers.length}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>

</div>