<div ng-controller="careGiverDetailsController as vm">
	<md-toolbar class="md-table-toolbar md-default" layout-padding>
		  <div layout="column" class="md-toolbar-tools">
		   <span>Care-Giver {{vm.careGiver.firstName}} {{vm.careGiver.lastName}}'s profile</span>
		  </div>
	</md-toolbar>
		<div style="text-align: left" layout-padding layout-align="left start">
			<span>Position : {{vm.careGiver.positionName}}</span><br>
			<span> EBC : {{vm.careGiver.ebc}}</span><br>
			<span> In-Service : {{vm.careGiver.insvc}}</span><br>
			<span> Date of hire : {{vm.careGiver.dateOfHire}}</span><br>
			<span> Rehire date : {{vm.careGiver.rehireDate}}</span><br>
			<span> Last day of work : {{vm.careGiver.lastDayOfWork}}</span><br>
			<span> Primary phone # : {{vm.careGiver.phoneNumbers[0].number | tel}}</span><br> 
		    <span> Primary phone type : {{vm.careGiver.phoneNumbers[0].numberType}}</span><br>
		    <span> Secondary phone # : {{vm.careGiver.phoneNumbers[1].number | tel}}</span><br> 
		    <span> Secondary phone type : {{vm.careGiver.phoneNumbers[1].numberType}}</span><br> 
		    <span> Other phone # : {{vm.careGiver.phoneNumbers[2].number | tel}}</span><br> 
		    <span> Other phone type : {{vm.careGiver.phoneNumbers[2].numberType}}</span><br> 
			<span> Comment : {{vm.careGiver.comment}}</span>
		</div>
		<section layout="left" layout-align="left start" >
      		<md-button class="md-raised md-primary" ui-sref="home.caregivers-scheduling({id:vm.careGiver.id})">Schedules</md-button>
    	</section>
    	
    	<div style="text-align: center" layout-padding>
			<h4><span>Tests ({{vm.allTests.length}})</span></h4>
		</div>
		<section layout="row" layout-sm="column" layout-align="left left" layout-wrap>
			<md-button class="md-raised md-primary" ui-sref="home.caregiver-details.add-test({id:vm.careGiver.id})">Add</md-button>
      		<md-button class="md-raised md-warn" ng-click="vm.showTestDelConfirm()" ng-disabled="vm.enableTestDel">Delete</md-button>
      </section>
		
		<md-table-container>
		 <table md-table md-table md-row-select ng-model="vm.selectedTest" >
		    <thead md-head md-order="vm.testQuery.order">
		      <tr md-row>
		        <th md-column md-order-by="name">
		        	<span>Test name</span>
		        </th>
		        <th md-column>Sub category name</th>
		        <th md-column>Complete date</th>
		        <th md-column>Expiration date</th>
		        <th md-column>Status</th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row md-select="careGiverTest" md-select-id="name"  md-auto-select ng-repeat="careGiverTest in vm.testsOnCurrentPage">
		        <td md-cell>{{careGiverTest.test.name}}</td>
		        <td md-cell>{{careGiverTest.testSubCategory === null ? 'NONE' : careGiverTest.testSubCategory.name}}</td>
		        <td md-cell>{{careGiverTest.completedDate === null ? 'NONE' : careGiverTest.completedDate}}</td>
		        <td md-cell>{{careGiverTest.expirationDate === null ? 'NONE' : careGiverTest.expirationDate}}</td>
		        <td md-cell>{{careGiverTest.status}}</td>
		      </tr>
		    </tbody>
		  </table>
	</md-table-container>
	<md-table-pagination md-limit="vm.testQuery.limit" md-limit-options="[5, 10, 15, 20]" md-page="vm.testQuery.page" md-total="{{vm.allTests.length}}" md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
</div>