<div aria-label="Create or update a Care-giver"
	style="width:1000px;" ng-controller="careGiverDialogController as vm">
<form name="careGiverForm" ng-submit="vm.createOrUpdatecareGiver()">
	<div style="max-width:1000px;max-height:810px;" class="md-padding">
	<div layout-gt-sm="column">
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>First name</label>
				<input md-maxlength="50" required name="firstName" ng-model="vm.careGiver.firstName" />
			<div ng-messages="careGiverForm.firstName.$error">
				<div ng-message="required">First name is required.</div>
				<div ng-message="md-maxlength">The First name has to be less than 50 characters long.</div>
			</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Last name</label>
				<input md-maxlength="50" required name="lastName" ng-model="vm.careGiver.lastName" />
			<div ng-messages="careGiverForm.lastName.$error">
				<div ng-message="required">Last Name is required.</div>
				<div ng-message="md-maxlength">The Last name has to be less than 50 characters long.</div>
			</div>
			</md-input-container>
		</div>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Position name</label>
			<md-select ng-model="vm.careGiver.positionName">
			<md-option ng-repeat="position in vm.positions" value="{{position.name}}">{{position.name}}</md-option>
		</md-select>
		<div ng-messages="careGiverForm.positionName.$error">
			<div ng-message="required">Position name is required.</div>
			<div ng-message="md-maxlength">The position name has to be less than 100 characters long.</div>
		</div>
		</md-input-container>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<div layout="column" layout-gt-sm="row">
				<div flex-xs="" flex="50">
					<md-checkbox ng-model="vm.careGiver.ebc" name="ebc" aria-label="EBC">EBC</md-checkbox>
				</div>
			</div>
			<div ng-messages="careGiverForm.ebc.$error">
				<div ng-message="required">EBC is required.</div>
			</div>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
			<div layout="column" layout-gt-sm="row">
				<div flex-xs="" flex="50">
					<md-checkbox ng-model="vm.careGiver.insvc" name="insvc" aria-label="In service"> In Service </md-checkbox>
				</div>
			</div>
			<div ng-messages="careGiverForm.insvc.$error">
				<div ng-message="required">In service is required.</div>
			</div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Primary phone number</label>
				<input type='text' required name="primaryPhoneNumber" phone-input ng-model="vm.primaryPhoneNumber.number" />
			<div ng-messages="careGiverForm.primaryPhoneNumber.$error">
				<div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
				<div ng-message="required">Phone number is required.</div>
				<div ng-message="md-maxlength">The phone number has to be less than 30 characters long.</div>
			</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Type</label> 
				<md-select ng-model="vm.primaryPhoneNumber.numberType">
				<md-option ng-repeat="numberType in vm.phoneNumberTypes" name="primaryPhoneNumberType" value="{{numberType.name}}">{{numberType.name}}</md-option>
				</md-select>
			<div ng-messages="careGiverForm.primaryPhoneNumber.$error">
				<div ng-message="required">Type is required.</div>
			</div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<label>Secondary phone number</label>
			<input type='text' name="secondaryPhoneNumber" phone-input ng-model="vm.secondaryPhoneNumber.number" />
			<div ng-messages="careGiverForm.secondaryPhoneNumber.$error">
				<div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
				<div ng-message="md-maxlength">The phone number has to be less than 30 characters long.</div>
			</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Type </label>
				<md-select ng-model="vm.secondaryPhoneNumber.numberType">
					<md-option ng-repeat="numberType in vm.phoneNumberTypes" name="secondaryPhoneNumberType" value="{{numberType.name}}">{{numberType.name}}</md-option>
				</md-select>
			<div ng-messages="careGiverForm.secondaryPhoneNumber.$error"></div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Other Phone number</label>
				<input type='text' name="otherPhoneNumber" phone-input ng-model="vm.otherPhoneNumber.number" />
			<div ng-messages="careGiverForm.otherPhoneNumber.$error">
				<div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
				<div ng-message="md-maxlength">The phone number has to be less than 30 characters long.</div>
			</div>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Type </label> 
				<md-select ng-model="vm.otherPhoneNumber.numberType">
					<md-option ng-repeat="numberType in vm.phoneNumberTypes" name="otherPhoneNumberType" value="{{numberType.name}}">{{numberType.name}}</md-option>
				</md-select>
			<div ng-messages="careGiverForm.otherPhoneNumber.$error"></div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<div class="md-block" style="align-items: left" flex-gt-sm ng-cloak="" class="datepickerdemoBasicUsage">
				<md-datepicker type="date" ng-model="vm.careGiver.dateOfHire" name="dateOfHire" md-placeholder="Date of Hire"></md-datepicker>
				<div ng-messages="careGiverForm.dateOfHire.$error">
					<div ng-message="required">Date Of Hire is required.</div>
				</div>
			</div>
			<div class="md-block" style="align-items: left" flex-gt-sm ng-cloak="" class="datepickerdemoBasicUsage">
				<md-datepicker type="date" ng-model="vm.careGiver.rehireDate" name="rehireDate" md-placeholder="Rehire Date"></md-datepicker>
				<div ng-messages="careGiverForm.rehireDate.$error">
					<div ng-message="required">Rehire Date is required.</div>
				</div>
			</div>
			<div class="md-block" style="align-items: left" flex-gt-sm  ng-cloak="" class="datepickerdemoBasicUsage">
				<md-datepicker type="date" ng-model="vm.careGiver.lastDayOfWork" name="lastDayOfWork" md-placeholder="Last Day of Work"></md-datepicker> 
				<div ng-messages="careGiverForm.lastDayOfWork.$error">
					<div ng-message="required">Last Day of Work is required.</div>
				</div>
			</div>
		</div>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Comment</label>
			<input md-maxlength="200" name="comment" ng-model="vm.careGiver.comment" />
			<div ng-messages="careGiverForm.comment.$error">
				<div ng-message="md-maxlength">The comment has to be less than 200 characters</div>
			</div>
		</md-input-container>
	</div>
	</div>
	<div layout="row">
	<md-button class="md-raised md-primary" md-autofocus type="submit">Save</md-button>
	<md-button class="md-raised md-default" style="margin-right:20px;" ng-click="vm.cancel()">Cancel</md-button>
	</div>
</form>
</div>